In [1]:
#Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)
import numpy as np
import pandas as pd

data=np.random.rand(4, 4)
df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])
print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.659027   0.878917   0.653959   0.096117
1   0.401588   0.344870   0.701821   0.455997
2   0.157518   0.757831   0.524499   0.951164
3   0.302526   0.010910   0.567321   0.939467

In [2]:
#Rename the task1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'
df = df.rename(columns={
    'Feature 1': 'Random value 1',
    'Feature 2': 'Random value 2',
    'Feature 3': 'Random value 3',
    'Feature 4': 'Random value 4'
})

print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.659027        0.878917        0.653959        0.096117
1        0.401588        0.344870        0.701821        0.455997
2        0.157518        0.757831        0.524499        0.951164
3        0.302526        0.010910        0.567321        0.939467

In [3]:
#Find the descriptive statistics of the 'df' dataframe.
stat=df.describe()
print(stat)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.380165        0.498132        0.611900        0.610686
std          0.211205        0.397205        0.080583        0.413414
min          0.157518        0.010910        0.524499        0.096117
25%          0.266274        0.261380        0.556616        0.366027
50%          0.352057        0.551351        0.610640        0.697732
75%          0.465948        0.788103        0.665925        0.942391
max          0.659027        0.878917        0.701821        0.951164

In [4]:
#Check for the null values in 'df' and find the data type of the columns
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [5]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [6]:
#Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

#Using location method:
df.loc[:, ['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0        0.878917        0.653959
1        0.344870        0.701821
2        0.757831        0.524499
3        0.010910        0.567321

In [8]:
#Using index location method:
df.iloc[:, [1, 2]]

   Random value 2  Random value 3
0        0.878917        0.653959
1        0.344870        0.701821
2        0.757831        0.524499
3        0.010910        0.567321